body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: var(--background-color);
    color: var(--font-color);
}

main h1 {
    font-size: 3em;
    margin: 1em 0;
}

main h2 {
    font-size: 2em;
}

main p {
    font-size: 1.5em;
    margin-left: 1em;
}

main {
    padding: 0.2em 10%;
}

.teste {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    width: 100vw;
    height: 40vh;

    font-size: 1.4rem;

    padding: 15rem 2rem;

    color: white;
    background-color: var(--primary-color);
}

.teste * {
    flex: 1;
    width: 100%;
} 

.teste h1 {
    text-align: right;
}
 
.teste a {
    padding: 0 1rem;

    height: 5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;

    transition: color 100ms ease !important;

    --hover-fg-color: var(--primary-color);
    --hover-bg-color: var(--background-color);
}

.teste a:not(:hover) {
    color: white;
}

.teste a svg {
    transition: transform 200ms ease, fill 100ms ease;
    fill: white;
}

.teste a:hover svg {
    fill: var(--primary-color);
    transform: translateX(20px);
}

@media screen and (max-width:950px) {
    .teste {
        flex-direction: column;
    }

    .teste h1 {
        text-align: center;
    }
     
    .teste a {
        text-align: right;
    }
}