@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.keyboard {
  background-color: #343434;
  display: grid;  
  grid-template-columns: repeat(21, min-content);
  grid-template-rows: repeat(6, min-content);

  margin: 2rem;
  padding: 0.4rem;
  border-radius: 0.4rem;

  width: fit-content;
  height: 37.5rem;

  background-image: linear-gradient(to top, black, transparent 20%);
}

.keyboard .key {
  /* --size: calc(4.7rem);
  width: var(--size);
  height: var(--size); */
  --width: 4.9rem;
  width: var(--width);
  height: auto;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

.key:active, .key.active {
  filter: brightness(0.6);
  transform: translateY(2px);
}

.key:not(.empty) {
  user-select: none;
  cursor: pointer;

  border-radius: 0.8rem;
  margin: 0.2rem;

  color: white;

  position: relative;

  box-shadow: 2px 2px 5px 2px #ffffff20 inset,
  0px 0px 5px 3px #00000050;

  display: flex;
  padding: 0.7rem 0.8rem;
}

.key.center {
  justify-content: center;
}

.key span {
  font-family: 'Roboto', monospace, sans-serif;
  font-size: 1.4rem;
  z-index: 1;
}

.key:not(.empty)::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 0.4rem);
  height: 80%;

  border-radius: 0.8rem;

  background-image: linear-gradient(
    to right, 
    #00000050, 
    #343434
  );

  left: 0.2rem;
  top: 0.2rem;
}

.key.vertical {
  grid-row: span 2;
  height: calc(var(--width) * 2);
}

.key.vertical::before {
  height: calc(100% - 0.6rem);
}

.key.horizontal {
  grid-column: span 2;
  width: calc(var(--width) * 2);
  aspect-ratio: 2/1;
}

.key.space-key {
  position: relative;
  grid-column: span 7;
  width: calc(var(--width) * 7.5);
  aspect-ratio: 7.5/1;
}

.key.space-key::after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background: #ffffff80;
  margin-top: 0.8rem;
  z-index: 1;
}

.key.empty {
  border: none;
}
