@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard {
  background-color: #343434;
  display: grid;  
  grid-template-columns: repeat(21, min-content);
  grid-template-rows: repeat(6, min-content);

  margin: 2em;
  padding: 0.4em;
  border-radius: 0.4em;

  width: fit-content;
  height: 37.5em;

  background-image: linear-gradient(to top, black, transparent 20%);
}

.keyboard .key {
  /* --size: calc(4.7em);
  width: var(--size);
  height: var(--size); */
  --width: 4.9em;
  width: var(--width);
  height: auto;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

.keyboard .led {
  width: 2.4em;
  height: 0.8em;
  border-radius: 1em;
  background-color: #606060;
  background-image: linear-gradient(to top, #00000050, transparent);

  align-self: center;
  justify-content: center;
}

.keyboard .led.active {
  background-color: rgb(152, 246, 152);
  background-image: none;
  box-shadow: 0px 0px 10px 5px green;
}

.key:active, .key.active {
  filter: brightness(0.6);
  transform: translateY(2px);
}

.key:not(.empty) {
  user-select: none;
  cursor: pointer;

  border-radius: 0.8em;
  margin: 0.2em;

  color: white;

  position: relative;

  box-shadow: 2px 2px 5px 2px #ffffff20 inset,
  0px 0px 5px 3px #00000050;

  display: flex;
  padding: 0.7em 0.8em;
}

.key.center {
  justify-content: center;
}

.key span {
  font-family: 'Roboto', monospace, sans-serif;
  font-size: 1.4em;
  z-index: 1;
}

.key:not(.empty)::before {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 0.4em);
  height: 80%;

  border-radius: 0.8em;

  background-image: linear-gradient(
    to right, 
    #00000050, 
    #343434
  );

  left: 0.2em;
  top: 0.2em;
}

.key.vertical {
  grid-row: span 2;
  height: calc(var(--width) * 2);
}

.key.vertical::before {
  height: calc(100% - 0.6em);
}

.key.horizontal {
  grid-column: span 2;
  width: calc(var(--width) * 2);
  aspect-ratio: 2/1;
}

.key.space-key {
  position: relative;
  grid-column: span 7;
  width: calc(var(--width) * 7.5);
  aspect-ratio: 7.5/1;
}

.key.space-key::after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background: #ffffff80;
  margin-top: 0.8em;
  z-index: 1;
}

.key.empty {
  border: none;
}

@media screen and (max-width: 1600px) {
  .keyboard {
    font-size: 12px;
  }
}

@media screen and (max-width: 1340px) {
  .keyboard {
    font-size: 8px;
  }
}

@media screen and (max-width: 890px) {
  .keyboard {
    font-size: 6px;
  }
}